@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
    outline: none;
    font-family: "Tahoma", "cwTeXYen", sans-serif;

    background: linear-gradient(-45deg, #e7e7e7, #f1eff5, #ecf1f3, #f0f5f5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}
input:focus {
    outline: none;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* NavBar -------------------------------------------------------------------------> */

/* NavBar End-------------------------------------------------------------------------> */

/* Banner Start-----------------------------------------------------------------------> */

.bannerImg {
    background-image: url(../../images/_02_ShoppingSystem/shoppingList_Banner_01.jpg);
    height: 350px;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.bannerTitle {
    color: white;
    font-size: 70px;
    z-index: 9999999;
    text-shadow: 5px 5px 15px rgb(155, 155, 155);
    font-weight: 500;
}
.banner-text {
    width: 50vw;
    color: white;
}
/* Banner End -------------------------------------------------------------------------> */

/* Product Detail Start ---------------------------------------------------------------> */

.accordion {
    background: white;
    border-radius: 10px;
/*     box-shadow: -15px -15px 15px rgba(255, 255, 255, 0); */

    -webkit-filter: drop-shadow(3px 3px 5px rgba(175, 175, 175, 1));
    filter: drop-shadow(3px 3px 5px rgba(175, 175, 175, 1));
}

.accordion .contentBx {
    position: relative;
}

.accordion .contentBx .label {
    position: relative;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}

.accordion .contentBx .label::before {
    color: rgb(91, 99, 107);
    position: absolute;
    content: "\f055";
    font-family: "fontawesome";
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    border-radius: 10px 10px 0px 0px;
}

.accordion .contentBx.active .label::before {
    content: "\f056";
}
.accordion .contentBx .content {
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow-y: auto;
}
.accordion .contentBx.active .content {
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.listTotalPrice {
    color: #4f69d8;
    font-size: 24px;
}

.productListNameHead {
    font-size: 20px;
}
.shoppingListNameText {
    color: rgb(63, 63, 63);
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px #c5c5c5;
}
.productListNameText {
    color: rgb(63, 63, 63);
    padding-bottom: 20px;
    border-bottom: solid 1px #c5c5c5;
}
.priceDetail {
    color: rgb(131, 131, 131);
}
/* Product Detail End -----------------------------------------------------------------> */

/* Customer Info Start ----------------------------------------------------------------> */

/* 瀏覽歷史紀錄顏色 Start */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: #808aa0;
}
/* 瀏覽歷史紀錄顏色 End */

.custInfo {
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(175, 175, 175, 0.7));
    filter: drop-shadow(3px 3px 5px rgba(175, 175, 175, 0.7));
    height: 100%;
    outline: none;
}
.custInfoText{
    color: #8499f8;
  
}
.leftIcon2 {
    font-size: 34px;
}

.input-group {
    position: relative;
    width: 100%;

    background: transparent;
}
.inputClass {
    width: 100%;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #808aa0;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.3s;
    height: 45px;
     
    font-size: 16px;
    outline: none;
    border-bottom: 2px solid rgb(209, 215, 223);
   
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #808aa0;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-group span {
    position: absolute;
    top: 0;
    left: 13px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
    font-family: "cwTeXYen", sans-serif;
}

.input-group span:before,
.input-group span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #f7f9ff;
    top: 50%;
    transform: translateY(-50%);
}

.input-group span:before {
    left: 50%;
}

.input-group span:after {
    right: 50%;
}

.input-group label {
    top: 0;
    transform: translateY(-50%);
    left: 13px;
    font-size: 0.9rem;
    color: #808aa0;
    font-family: "cwTeXYen", sans-serif;
}

.input-group.focus span:before,
.input-group.focus span:after {
    width: 50%;
    opacity: 1;
}

.input-group:hover {
    border: none;
    box-shadow: none;
}


#inputStyle:focus
 {
   
    box-shadow: none;
    border: none;
    background: none;
    border-bottom: 2px solid rgb(116, 163, 250);
}



.custInfoLeft{
    border-right: #adadad 1px solid;
}
.custInfoTextR{
    padding-left: 20px;
}

@media (max-width: 767px) {
    .custInfoTextR {
       margin-top: 20px;
        padding-left: 0;
    }
    .custInfoLeft{
        border-right:none;
        border-bottom: #adadad 1px dotted;
        
    }
    .custInfoRightText{
        margin-top: 17px;
        
    }
}
/* Customer Info End ------------------------------------------------------------------> */

/* Commit Terms Start -----------------------------------------------------------------> */
.commitOrder {
    background: white;
    border-radius: 10px;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(175, 175, 175, 0.7));
    filter: drop-shadow(3px 3px 5px rgba(175, 175, 175, 0.7));
    height: 100%;
}
/* Checked Box Start*/
.checkStyle {
    display: block;
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.4s;
    top: 8px;
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.335), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    border: #e0e0e0 solid 0.1px;
    padding: 10px;
}
#checkTerms:checked ~ .checkStyle {
    background: #4f69d8;
}

.checkStyle::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
    opacity: 0;
    transition: all 0.4s;
}
#checkTerms:checked ~ .checkStyle::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}
.checkboxText {
    padding-top: 6px;
    word-break: break-all;
}


/* Checked Box End*/

/* Button Start----*/

.shoppingBtn {
    display: flex;
    border-radius: 8px;

    text-align: center;
    background-color: #fff;
}

.btnEffect {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.btn:hover {
    text-decoration: none;
}

.btnEffect02 {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    height: 45px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

/*btn_background*/
.effect02 {
    color: #fff;
    border: 4px solid #4f69d8;
    box-shadow: 0px 0px 0px 1px #4f69d8 inset;
    background-color: #4f69d8;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}
.effect02:hover {
    border: 4px solid #7e95ff;
    background-color: #fff;
    box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect02 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}
.effect02:hover span {
    letter-spacing: 0.13em;
    color: #4f69d8;
    font-weight: 400;
}
.effect02:active {
    letter-spacing: 0.13em;
    color: #4f69d8;
    font-weight: 400;
    box-shadow: inset -2px -2px 5px #c7c7c7, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/*highlight*/
.effect02:after {
    background: #fff;
    border: 0px solid #7e95ff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
}
.effect02:hover:after {
    background: #fff;
    border: 20px solid #4f69d8;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

/* Button End----*/

/* Commit Terms End -------------------------------------------------------------------> */

