@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
    font-family: "Tahoma", "cwTeXYen", sans-serif;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(-45deg, #f7f3f2, #f0efef, #f6fafc, #f2f8f7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* NavBar -------------------------------------------------------------------------> */

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: "";
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: #447ee9;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #447ee9;
}

.navbar-cart {
    color: #262626;
    font-size: 18px;
}
.navbar-user {
    color: #262626;
    font-size: 18px;
}
.dropdown-toggle::after {
    content: none;
}
.bg-white {
    font-weight: 500 !important;
    font-size: 19px !important;
    color: #262626 !important;
}
.nav-font {
    color: #262626 !important;
}

/* NavBar End-------------------------------------------------------------------------> */

/* Banner Start-----------------------------------------------------------------------> */

.bannerImg {
/*     background-image: url(../../images/_03_FriendlySystem/touristInfo/touristInfo_banner_01.jpg); */
    height: 350px;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.bannerTitle {
    color: white;
    font-size: 70px;
    z-index: 9999999;
    text-shadow: 5px 5px 15px rgb(155, 155, 155);
    font-weight: 500;
}
.banner-text {
    width: 50vw;
    color: white;
}
/* Banner End -------------------------------------------------------------------------> */

/* Left Content Srart -----------------------------------------------------------------> */

/* Carousel Slider Srart --------------------------------------------------------------> */

#myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
/* Carousel Slider End ---------------------------------------------------------------> */
.titleH2 {
    color: #454c53;
    font-weight: 600;
}
.star {
    font-size: 16px;
    color: #f8be00;
    font-weight: 100;
}
.fa-phone-square-alt,
.fa-map-marker-alt {
    color: #71a2fc;
    font-size: 14px;
}

.titleText {
    font-family: "Tahoma", "cwTeXYen", sans-serif;
    color: #7c7c7c;
    font-size: 14px;
}
.hotelImage {
    height: 400px;
    width: 800px;
    object-fit: cover;
}
.hotelImageIcon {
    height: 60px;
    width: 80px;
    object-fit: cover;
}
.hotelTWD {
    color: #447ee9;
    font-size: 14px;
}
.hotelPrice {
    font-size: 26px;
    color: #447ee9;
    font-weight: bold;
}
.IntroductionTitle {
    font-size: 24px;
    color: #424242;
    font-weight: 600;
}
.articleColor {
    font-size: 16px;
    color: #454c53;
}
.remarks {
    height: auto;
    background: #f1f1f1;
}
.remarkPColor {
    font-size: 16px;
    color: #485058;
}
/* Left Content End -------------------------------------------------------------------> */

/* Right Content Start ----------------------------------------------------------------> */
.rightTitleIcon {
    font-size: 20px;
    color: #6a8ff5;
}
.rightTitle {
    font-size: 20px;

    color: #6a8ff5;
    font-family: "cwTeXYen", sans-serif;
}

.wrapper {
    background: #f7f9ff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    border-bottom: 2px solid silver;
    background: transparent;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #6e7279;
}
.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgb(155, 164, 175);
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}
.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #a4baf7;
    /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #8ec3f8 48%, #6BBBFF 100%); */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
    transform: scaleX(1);
    border: none;
    height: 2px;
}
.input-data {
    border: none;
    box-shadow: none;
    outline: none;
}
.input-data:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.form-control {
    border-radius: 0;
    border: none;
}
.form-control:focus {
    box-shadow: none;
    outline: none;
}
/* 日期表單 Start*/
.input-data .underlineDate {
    position: absolute;
    height: 1.5px;
    width: 100%;
    bottom: 0;
}
.input-data .underlineDate:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #a4baf7;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underlineDate:before,
.input-data input:valid ~ .underlineDate:before {
    transform: scaleX(1);
    border: none;
    height: 2px;
}
/* 日期表單 End*/
.plusButton {
    display: flex;
    position: relative;
    border: #a4baf7 3px solid;
    margin-right: 0px;
    border-radius: 50%;
    background: #ffffff;
    width: 30px;
    height: 30px;
}
.fa-plus {
    position: absolute;
    display: flex;
    align-self: center;
    right: 5.1px;
    color: #a4baf7;
}
.plusButton:hover {
    background: #6a8ff5;
    border: #6a8ff5 3px solid;
}
.fa-plus:hover {
    position: absolute;
    display: flex;
    color: white;
}
.plusButton:active {
    background: #447ee9;
}

.plusButton:focus {
    box-shadow: none;
    outline: none;
}
.note {
    font-family: "cwTeXYen", sans-serif;
    font-size: 16px;
    color: #888888;
}
.noteborder{
    border: #c5d5ff solid 1px;
}
/* Commit Terms Start -----------------------------------------------------------------> */

/* Checked Box Start*/
.checkStyle {
    display: block;
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.4s;
    top: 8px;
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.335), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    border: #e0e0e0 solid 0.1px;
    padding: 10px;
    overflow: hidden;
}
#checkTerms:checked ~ .checkStyle {
    background: #4f69d8;
}

.checkStyle::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 14px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
    opacity: 0;
    transition: all 0.4s;
}
#checkTerms:checked ~ .checkStyle::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}
.checkboxText {
    padding-top: 6px;
    word-break: break-all;
    color: #777777;
}


/* Checked Box End*/

/* Button Start-------------------------------->*/
/* Ripple effect */
.ripple {
    background-position: center;
    transition: 0.8s;
}
.ripple:hover {
    background: #6a83f5 radial-gradient(circle, transparent 1%, #4775f5 1%) center/15000%;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(129, 129, 129, 0.7));
    filter: drop-shadow(3px 3px 5px rgba(129, 129, 129, 0.7));

}
.ripple:active {
    background-color:#5679d8;
    background-size: 100%;
    transition: 0s;
    
}

/* Button style */
.buybtn {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #4f69d8;
    box-shadow: 0 0 4px #999;
    outline: none;
}
.buybtn:focus {
    box-shadow: none;
    outline: none;
}
/* Button Start-------------------------------->*/

/* Commit Terms End -------------------------------------------------------------------> */
/* Right Content End ----------------------------------------------------------------> */

/* Footer Start ---------------------------------------------------------------------> */

/* Footer Start ---------------------------------------------------------------------> */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social > a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}
/* Footer End ---------------------------------------------------------------------> */

/* Footer End ---------------------------------------------------------------------> */
