<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- Inport CSS End--------------------------------------------------------------------->

    <link
      rel="stylesheet"
      href="../resources/css/_03_FriendlySystem/touristInfoDetail_01.css"
    />

    <title></title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="p-5">
          <h3>基本資料</h3>
          <table class="table table-striped table-responsive">
            <thead class="text-center">
              <tr>
                <th width="50" >#</th>
                <th >飯店名稱</th>
                <th >姓名</th>
                <th >E-mail</th>
                <th >入住時間</th>
                <th  >成人人數</th>
                <th  >兒童人數</th>
                <th  >房間</th>
                <th  width="150" >電話</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <th scope="row">1</th>
                <td>經典大飯店</td>
                <td>周杰倫</td>
                <td>jay@gmail.com</td>
                <td>2020/10/20~2020/10/30</td>
                <td>1</td>
                <td>4</td>
                <td>1</td>
                <td>0987087087</td>
              </tr>
            </tbody>
          </table>
          <tbody></tbody>
          <tfoot></tfoot>
        </div>
      </div>
    </section>

    <section>
        <div class="container">
          <div class="p-5">
            <h3>寵物資料</h3>
            <table class="table table-striped table-responsive">
              <thead class="text-center">
                <tr>
                  <th width="50">#</th>
                  <th width="100">種類</th>
                  <th width="">品種</th>
                  <th width="100">數量</th>
                  <th width="">預約備註</th>
                  
                </tr>
              </thead>
              <tbody class="text-center">
                <tr>
                  <th scope="row">1</th>
                  <td>狗</td>
                  <td>黃金獵犬</td>
                  <td>10</td>
                  <td>狗的年紀有點大</td>
                 
                </tr>
              </tbody>
            </table>
            <tbody></tbody>
            <tfoot></tfoot>
          </div>
        </div>
      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
