@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
    font-family: "cwTeXYen", 'Tahoma',sans-serif;

    background:#2f323a;
    ;
    /* background: linear-gradient(-45deg, #242120, #1f1c1d, #1c1e1f, #191b1b); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* NavBar -------------------------------------------------------------------------> */

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: "";
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: #447ee9;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #447ee9;
}

.navbar-cart {
    color: #262626;
    font-size: 18px;
}
.navbar-user {
    color: #262626;
    font-size: 18px;
}
.dropdown-toggle::after {
    content: none;
}
.bg-white {
    font-weight: 500 !important;
    font-size: 19px !important;
    color: #262626 !important;
}
.nav-font {
    color: #262626 !important;
}

/* NavBar End-------------------------------------------------------------------------> */

/* Banner ----------------------------------------------------------------------------> */

.bannerImg {
    background-image: url(../../images/_01_Member/administrator_banner_01.jpg);
    height: 350px;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.bannerTitle {
    color: white;
    font-size: 70px;
    z-index: 9999999;
    text-shadow: 5px 5px 15px rgb(155, 155, 155);
    font-weight: 500;
  
}
.banner-text {
    width: 50vw;
    color: white;
}
/* Banner End -------------------------------------------------------------------------> */


/* Sidebar ----------------------------------------------------------------------------> */

/* sidebarImg Start*/
.photoSticker {
    position: relative;
    
    border-radius: 50%;
    font-family: "cwTeXYen", 'Tahoma',sans-serif;
  }

  .photoStickerImg{
    position: absolute;
    margin-left: 4.5px;
    margin-top: 5px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url(../../images/_01_Member/administrator_photo_01.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 999;
    
  }
  .loader {
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: animate 0.5s linear infinite;
  }
  @keyframes  animate
  {
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }
  
  .loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  }
  .loader span:nth-child(1) {
    filter: blur(5px);
  }
  .loader span:nth-child(2) {
    filter: blur(10px);
  }
  .loader span:nth-child(3) {
    filter: blur(25px);
  }
  .loader span:nth-child(4) {
    filter: blur(50px);
  }

/* sidebarImg End*/


 
  
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 50px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h3{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);

  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
  
  }
  
  .sidebar a:hover{
    background: #1979d3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  .sidbarIconText{
     font-size: 19px;
  }
  .fa-store{font-size: 19px;}
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
    }
  
    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #222;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
     }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;

    }
  
    .active{
      display: block;
    }
  }
/* Sidebar ----------------------------------------------------------------------------> */
                             