@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
    font-family: "cwTeXYen", sans-serif;

    background: linear-gradient(-45deg, #f7f3f2, #f0efef, #f6fafc, #f2f8f7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* NavBar -------------------------------------------------------------------------> */

.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: "";
    opacity: 0;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: #447ee9;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #447ee9;
}

.navbar-cart {
    color: #262626;
    font-size: 18px;
}
.navbar-user {
    color: #262626;
    font-size: 18px;
}
.dropdown-toggle::after {
    content: none;
}
.bg-white {
    font-weight: 500 !important;
    font-size: 19px !important;
    color: #262626 !important;
}
.nav-font {
    color: #262626 !important;
}

/* NavBar End-------------------------------------------------------------------------> */

/* Banner Start-----------------------------------------------------------------------> */

.bannerImg {
    background-image: url(../../images/_03_FriendlySystem/touristIndex/touristIndex_banner_01.jpg);
    height: 350px;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.bannerTitle {
    color: white;
    font-size: 70px;
    z-index: 9999999;
    text-shadow: 5px 5px 15px rgb(155, 155, 155);
    font-weight: 500;
}
.banner-text {
    width: 50vw;
    color: white;
}
/* Banner End -------------------------------------------------------------------------> */

/* Shopping List Start ----------------------------------------------------------------> */

/* Shopping List End ------------------------------------------------------------------> */
.productListAll {
    background: white;
    border-radius: 10px;
}
.shippingTitle {
    height: 50px;
    border-bottom: solid 1px #c5c5c5;
}
.shoppingListTitle {
    height: 20px;
}
.shoppingListItem {
    height: 100px;
}
.shoppingListTitleTop {
    height: 50px;
}
.shoppingListTitleAll{
    height: 50px;
    border-bottom: solid 1px #c5c5c5;
}
.trashButtom {
    border: none;
    background: transparent;
}
.trashButtom:active {
    border: none;
    background: transparent;
}
.productImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

@media (max-width: 799px) {
   
    .shoppingListTitleAll{
        display: none;
    }
}

/* Footer Start -----------------------------------------------------------------------> */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social > a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}
/* Footer End ----------------------------------------------------------------------> */
